---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Liam Callaway">
    <main>
        <section>
            <h1>Hi 👋 I'm Liam</h1>
            <p>
                I'm a full-stack software engineer based in Sydney, Australia 🦘
            </p>
            <p>This page is currently 🔨<em>under construction</em>🔨</p>
            <p>Hopefully there'll be more to see soon 👀</p>
        </section>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
    }
</style>
