---
import { Icon } from "astro-icon";
import { Picture } from "astro:assets";
import profileImage from "../images/profile.jpeg";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Liam Callaway">
    <main>
        <section class="p-10 text-center">
            <h1 class="pb-8 pt-2 text-5xl font-medium text-teal-500">
                Liam Callaway
            </h1>
            <div class="flex justify-center">
                <Picture
                    class="h-60 w-60 rounded-full"
                    src={profileImage}
                    alt="Rounded avatar"
                />
            </div>
            <h2 class="py-4 text-2xl text-gray-300">Full Stack Developer</h2>
        </section>
        <section
            class="flex flex-col items-center justify-center gap-8 text-lg text-gray-300"
        >
            <p>
                <a
                    class="inline-flex items-center justify-center rounded-lg bg-gray-700 px-5 py-3 text-base font-medium hover:bg-gray-600 hover:text-white"
                    href="/resume.pdf"
                    download>View my resume</a
                >
            </p>
            <div class="flex flex-col gap-4">
                <h2 class="text-center text-lg">Get in touch</h2>
                <div class="flex justify-center">
                    <a
                        class="mx-4 h-12 w-12 hover:text-white"
                        href="https://twitter.com/liamcallaway"
                    >
                        <Icon name="simple-icons:twitter" /></a
                    >
                    <a
                        class="mx-4 h-12 w-12 hover:text-white"
                        href="https://aus.social/@liamcallaway"
                        ><Icon name="simple-icons:mastodon" /></a
                    >
                    <a
                        class="mx-4 h-12 w-12 hover:text-white"
                        href="javascript:location='mailto:\u006c\u0069\u0061\u006d\u0040\u006c\u0069\u0061\u006d\u0063\u0061\u006c\u006c\u0061\u0077\u0061\u0079\u002e\u0063\u006f\u006d';void 0"
                    >
                        <Icon name="ic:round-mail" /></a
                    >
                    <a
                        class="mx-4 h-12 w-12 hover:text-white"
                        href="https://au.linkedin.com/in/liam-callaway-31000a67"
                    >
                        <Icon name="simple-icons:linkedin" /></a
                    >
                    <a
                        class="mx-4 h-12 w-12 hover:text-white"
                        href="https://github.com/liamcal"
                    >
                        <Icon name="simple-icons:github" /></a
                    >
                </div>
            </div>
        </section>
    </main>
</Layout>
